body{
    background-color: #fafafa;
    color: slategrey;
}

.btn-small{
    height: 20px;
    width: 60px;
    line-height:20px;
    margin:5px 5px;
    padding: 0 0.5em;
}

.bug-header{
    width: 100%;
    margin-top: 5px;
    display:flex;
    justify-content: space-between;

}
