body{
    color: #fafafa;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    background-color: #474B50;
    height: 100vh;
    border-radius: 5px;
}

nav{
    background-color: #86c232;
}

.btn-small{
    height: 20px;
    width: 60px;
    line-height:20px;
    margin:5px 5px;
    padding: 0 0.5em;
}

.bug-header{
    width: 100%;
    margin-top: 5px;
    display:flex;
    justify-content: space-between;
    color: #474b4f;

}

.category-header{
    color: #474b4f;
}

.brand-logo{
    margin-left: 80px;
}

.btn{
    margin-left:10px;
}

.close{
    background-color: #86c232;
}

.collapsible-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bug-summary-info{
    text-align: center;
}

.bug-category{
    text-align: left;
}

.bug-buttons{
    text-align: right;
}