body{
    background-color: #2b2c2e;
    color: #fafafa;
}

nav{
    background-color: #3eec3e;
}

.btn-small{
    height: 20px;
    width: 60px;
    line-height:20px;
    margin:5px 5px;
    padding: 0 0.5em;
}

.bug-header{
    width: 100%;
    margin-top: 5px;
    display:flex;
    justify-content: space-between;
    color: #2b2c2e;

}
