{% extends 'base.html' %}
{% block content%}
<h1> Hello Bugs Page</h1>
<div class="toolbar">Sort and Filter options will go here</div>
<ul class="collapsible">
	{% for bug in bugs %}
	<li>
		<div class="collapsible-header bug-header">
			<div class="col s9 bug-summary-info">
				<strong>{{bug.bug_summary}}</strong>  Submitted by {{bug.bug_user}} on {{bug.timestamp}}  Priority: {{bug.bug_priority}}
			</div>
			<div class="col s3 drop-down-arrow">
				<i class="material-icons">arrow_drop_down</i>
			</div>
		</div>
		<div class="collapsible-body">
			<div class="bug-category"><strong>{{bug.bug_category}}</strong></div>
			<div class="bug-description">{{bug.bug_description}}</div>
			<div class="bug-buttons">
            <a href="{{url_for('view_bug', bug_id = bug._id)}}"
					class="waves-effect waves-light btn btn-small edit"><i class="material-icons right"></i>View</a>
				<a href="{{url_for('edit_bug', bug_id = bug._id)}}"
					class="waves-effect waves-light btn btn-small edit"><i class="material-icons right"></i>Edit</a>
				<a href="{{url_for('delete_bug', bug_id = bug._id)}}"
					class="waves-effect waves-light btn btn-small close"><i class="material-icons right"></i>Close</a>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
<a href="{{url_for('new_bug')}}" class="waves-effect waves-light btn">New Bug</a>
{% endblock %}