{% extends 'base.html' %}
{% block content%}
<h1>Categories</h1>
<div class="toolbar">Sort and Filter options will go here</div>

<div class="row">

	<ul class="collapsible">
		{% for category in categories %}
		<li>
			<div class="collapsible-header category-header">
				<div class="col s9 category-summary-info">
					<strong>{{category.category_name}}:</strong> {{category.category_description}}
				</div>
				<div class="col s3 category-buttons">
					<a href="{{url_for('edit_category', category_id = category._id)}}"
						class="waves-effect waves-light btn btn-small"><i class="material-icons right"></i>Edit
						Category</a>
					<a href="{{url_for('delete_category', category_id = category._id)}}"
						class="waves-effect waves-light btn btn-small blue"><i class="material-icons right"></i>Delete
						Category</a>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>

	<a href="{{url_for('new_category')}}" class="waves-effect waves-light btn"><i class="material-icons right"></i>New
		Category</a>
</div>
{% endblock %}